
:root {
  --c0: #ffd9a1;
  --c1: #f5c3c2;
  --c2: #ffd9a1;
  --c3: #a9d6e5;
  --c4: #d9d4f1;
  --c5: #a0eacf;
  --c6: #a9d6e5;
}

*{box-sizing: border-box; text-decoration: none;}
body{background-color: #d7c6d4;margin:0;padding:0;
  font-family: "PT Sans", sans-serif;
  font-optical-sizing: auto;font-size: 14px;
min-height: 100vh;
padding-bottom: 30px;
}
svg{
    display: block;
    width: 100%;
    height: auto;
}
.logo path {
    animation: randomColors 6s infinite ease-in-out;
    stroke: #2f2f2f;
    stroke-width: 1px;
  transform-origin: center center; /* for general use */
}
.logo{
    display: block;
    margin: auto;
    width: 700px;
    margin-bottom: -3%;
    max-width: 100%;
}
ul, li{list-style: none; padding: 0;}
.container{width: 100%; max-width: 1024px; padding: 0 15px; margin: auto ;}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 -10px;
}
.error-message{
    color: red;
}
.nav.nav-login ul{
    justify-content: center;
}
.nav li {
    width: 15%;
    padding: 10px;
}
.nav a{
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px -3px #000;
    transition-duration: 0.5s;
}
.nav li:nth-child(7n) a{background: var(--c0);}
.nav li:nth-child(7n+1) a{background: var(--c1);}
.nav li:nth-child(7n+2) a{background: var(--c2);}
.nav li:nth-child(7n+3) a{background: var(--c3);}
.nav li:nth-child(7n+4) a{background: var(--c4);}
.nav li:nth-child(7n+5) a{background: var(--c5);}
.nav li:nth-child(7n+6) a{background: var(--c6);}
.nav a:hover{
    background: #5ed2df !important;
    box-shadow: 0 0 0 0 transparent;
}
.material-symbols-outlined {
    font-size: 28px;
}
.nav-text{
    padding-top: 2px;
    font-weight: bold;
}
.nav a span{
    display: block;
    color: #594a4a;
    text-shadow: 0 0 5px #fff;
}
h1{
    font-size: 50px;
    font-family: "Trade Winds", system-ui;
    color: #4b594a;
    text-align: center;
    margin: 20px 0 0;

    font-weight: normal;
}
h2{
    font-size: 40px;
    font-family: "Trade Winds", system-ui;
    color: #4b594a;
    text-align: center;
    font-weight: normal;
}
h3{
    font-size: 26px;
    font-family: "Trade Winds", system-ui;
    color: #4b594a;
    text-align: center;
    font-weight: normal;
}
.subtitle{
    margin: 0 0 20px;
    text-align: center;
    color: #4b594a;
    font-size: 18px;
}
.flash-messages:hover{
    opacity: 0.5;
}
.flash-messages{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0 5px;
    transition-duration: 0.5s;
    line-height: 28px;
}
.login-link,
.login-links,
form{
    text-align: center;
}
.form-label{
    font-size: 16px;
    padding-right: 15px;
    display: inline-block;
    text-align: right;
    width: 200px;
}
.form-input{
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #fff;
    color: #000 !important;
    width: 400px;
    margin-right: 200px;
    display: inline-block;
}
.btn{
    width: 300px;
    border: 1px solid #a0eacf;
    font-size: 14px;
    line-height: 18px;
    background: rgb(160 234 207);
    transition-duration: 0.5s;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.2);

}
.form-group{
    padding-bottom: 20px;
}/* every 1st of 6 paths */
svg path:nth-child(6n) {
  animation-delay: -0s;
  animation-duration: 5.2s;
}

/* every 2nd of 6 */
svg path:nth-child(6n+1) {
  animation-delay: -11.3s;
  animation-duration: 16.5s;
}

/* every 3rd of 6 */
svg path:nth-child(6n+2) {
  animation-delay: -12.7s;
  animation-duration: 17.1s;
}

/* every 4th of 6 */
svg path:nth-child(6n+3) {
  animation-delay: -13.9s;
  animation-duration: 15.7s;
}

/* every 5th of 6 */
svg path:nth-child(6n+4) {
  animation-delay: -14.4s;
  animation-duration: 16.8s;
}

/* every 6th of 6 */
svg path:nth-child(6n+5) {
  animation-delay: -15.6s;
  animation-duration: 17.3s;
}
.progress-gradient{
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid #fff;
    overflow: hidden;
}
.progress-label {
    padding: 0 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 3px BLACK;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    z-index: 10;
}
.filter-label{
    display: block;
    font-size: 18px;
    padding-bottom: 10px;
}
.filter-section select,
.filter-section .btn{
    width: 400px;
    max-width: 100%;
    margin-bottom: 10px;
}
.join-btn{
    font-size: 14px;
    line-height: 18px;
    transition-duration: 0.5s;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(160, 234, 207);
    border-image: initial;
    background: rgb(160, 234, 207);
    padding: 8px 12px;
}
table{
    width: 100%;
}
select{

    width: 300px;
    border: 1px solid rgb(255 217 161);
    font-size: 14px;
    line-height: 18px;
    background: rgb(255 217 161);
    transition-duration: 0.5s;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}
.progress-bar{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    background: #a0eacf;
    z-index: 1;
}
.features-grid > ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
}
.features-grid >ul > li{
    width: 33.33%;
    padding: 10px;
}
.features-grid >ul > li:nth-child(5n+4),
.features-grid >ul > li:nth-child(5n) {
        width: 50%;
}
.feature-card{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px -3px #000;
    color: #4b594a;
}
.feature-title{
    line-height: 25px;
    border-bottom: 1px solid #4b594a;
    font-size: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0 15px 15px;
}
.feature-description{
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    margin: 0;
}

.features-grid li:nth-child(7n)   .feature-card{background: var(--c0);}
.features-grid li:nth-child(7n+1) .feature-card{background: var(--c1);}
.features-grid li:nth-child(7n+2) .feature-card{background: var(--c2);}
.features-grid li:nth-child(7n+3) .feature-card{background: var(--c3);}
.features-grid li:nth-child(7n+4) .feature-card{background: var(--c4);}
.features-grid li:nth-child(7n+5) .feature-card{background: var(--c5);}
.features-grid li:nth-child(7n+6) .feature-card{background: var(--c6);}

.big-box{
    display: block;
    text-align: center;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px -3px;
    padding: 25px;
    margin: 30px 0;
}
.big-box h1,
.big-box h2{
    margin-top: 0;
}
.box-blue{
    background: var(--c3);
}
.box-yellow{
    background: var(--c2);
}
.box-red{
    background: var(--c1);
}
.box-purple{
    background: var(--c4);
}
.box-green{
    background: var(--c5);
}
.badge-notification{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}
.badge-notification.hidden{
    display: none;
}
.badge-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    opacity: 1;
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.badge-popup::after,
.badge-popup::before{
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    background: url("../confetti.gif") center center;
    background-size: contain;
    position: absolute;
    top: 0;
}
.badge-popup::after{
    left: 100%;
}
.badge-popup::before{
    right: 100%;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.badge-popup h2,
.badge-popup h3{
    margin: 10px 0;
}
.badge-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    background: var(--c2);
    padding: 20px;
    border: 2px solid var(--c1);
    box-shadow: 0 0 90px -15px #000;
}
.countdown{
    text-align: center;
}
@media screen and (max-width: 1100px) {
    .nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav li {
        width: 20%;
    }
}
@media screen and (max-width: 800px) {
    .nav li {
        width: 33.33%;
    }
    .nav li:nth-child(5n+2) {
        width: 33.35%;
    }
    .form-label{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .form-input{
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    h1{
        font-size: 40px;
        line-height: 46px;
    }
    h2{
        font-size: 30px;
        line-height: 36px;
    }
    h3{
        font-size: 20px;
        line-height: 26px;
    }
    .features-grid > ul > li{
        width: 50% !important;
    }
    .features-grid >ul > li:nth-child(3n){
            width: 100% !important;
    }
    .badge-popup::after{
        width: auto;
        left: 0;
        right: 0;
        bottom: 100%;
        top: auto;
    }
    .badge-popup::before{
        width: auto;
        left: 0;
        right: 0;
        top: 100%;
        bottom: auto;
    }
}
@media screen and (max-width: 600px) {
    .features-grid > ul > li{
        width: 100% !important;
    }
    h1{
        font-size: 36px;
        line-height: 40px;
    }
    h2{
        font-size: 26px;
        line-height: 30px;
    }
    h3{
        font-size: 18px;
        line-height: 22px;
    }
}
@keyframes randomColors {
  0% {
    fill: var(--c5);
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    fill: var(--c1);
    transform: translate(-2px, 2px) rotate(-1.5deg);
  }
  50% {
    fill: var(--c2);
    transform: translate(2px, -2px) rotate(1deg);
  }
  70% {
    fill: var(--c3);
    transform: translate(-3px, -1px) rotate(-0.6deg);
  }
  90% {
    fill: var(--c4);
    transform: translate(1px, 3px) rotate(2deg);
  }
  100% {
    fill: var(--c5);
    transform: translate(0, 0) rotate(0deg);
  }
}