{% extends 'base.html' %} 

{% block head %}

{% endblock %}

{% block body %}
<div class="registration_container">
    <div class="registration-header">
        <h1>Rejestracja</h1>
        <p>Stwórz nowe konto</p>
    </div>
    <div class="flash=messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
    
        <!-- Imie -->
     <div class="form-group">
        <label class="form-label" for="firstname">Imię</label>
        <input type="text" 
                 class="form-input" 
                id="firstname" 
                name="firstname" 
                placeholder="Wpisz imię"
                value="{{ form.firstname.data if form.firstname.data }}">
        {% if form.firstname.errors %}
            {% for error in form.firstname.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endif %}
       </div>
       <!-- Nazwisko -->
       <div class="form-group">
        <label class="form-label" for="lastname">Nazwisko</label>
        <input type="text" 
                 class="form-input" 
                id="lastname" 
                name="lastname" 
                placeholder="Wpisz nazwisko"
                value="{{ form.lastname.data if form.lastname.data }}">
        {% if form.lastname.errors %}
            {% for error in form.lastname.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endif %}
       </div>

       <!-- Nazwa użytkownika -->
       <div class="form-group">
        <label class="form-label" for="handle">Nazwa użytkownika</label>
        <input type="text" 
                 class="form-input" 
                id="handle" 
                name="handle" 
                placeholder="Wpisz nazwę użytkownika"
                value="{{ form.handle.data if form.handle.data }}">
        {% if form.handle.errors %}
            {% for error in form.handle.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endif %}
       </div>

       <!-- Email -->
       <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="text" 
                 class="form-input" 
                id="email" 
                name="email" 
                placeholder="twój@email.com"
                value="{{ form.email.data if form.email.data }}">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endif %}
       </div>

       <!-- hasło -->
       <div class="form-group">
        <label class="form-label" for="password">Hasło</label>
        <input type="password" 
                 class="form-input" 
                id="password" 
                name="password" 
                placeholder="Minimum 6 znaków"
                value="{{ form.password.data if form.password.data }}">
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endif %}
       </div>

       <!-- powtórz hasło -->
       <div class="form-group">
        <label class="form-label" for="password_check">Powtórz hasło</label>
        <input type="password" 
                 class="form-input" 
                id="password_check" 
                name="password_check" 
                placeholder="Powtórz hasło"
                value="{{ form.password_check.data if form.password_check.data }}">
        {% if form.password_check.errors %}
            {% for error in form.password_check.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        {% endif %}
       </div>

       <!-- przycisk -->
       {{ form.submit(class="submit-btn") }}

    </form>
    <div class="login-link">
        <p>Masz już konto?
            <a href="{{url_for('login')}}">Zaloguj się </a>
        </p>
    </div>
</div>

{% endblock %}
